*
{
    margin: 0%;
    padding: 0%;
    font-size: 100%;
}
body
{
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(196, 18, 57);
    
}
.c_header
{
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 4rem;
    margin-top: 3%;
    opacity: 0.9;
    text-align: center;
}
#head
{
    width: 60vw;
    margin: 2% auto 0% auto;
    text-align: center;
}
.ver_img
{
    display: none;
}
.main_img
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
     top: 0;
}
.title
{
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}
.c_time
{
    font-weight: 300;
    font-size: 2.5rem;
    padding: 1% 0;
    opacity: 0.8;
}
.c_task_form
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}
#add_task
{
    width: 70%;
    height: 45px;
    font-size: 1.5rem;
    font-family: 'Wix Madefor Display', sans-serif;
    border: none;
    background-color: rgb(14, 42, 95);
    color: white;
    outline: none;
    padding-left: 1%;
}
#sub_task
{
    height: 45px;
    width:8%;
    font-size: 2.5rem;
    background-color: rgb(14, 42, 95);
    border: none;
    color: rgb(133, 228, 24);
    font-weight: bolder;
}
#mid
{
    text-align: center;
    margin-top: 3%;
    
}
.all_task
{
    margin-top: 4%;
    margin-bottom: 2%;
    font-family: 'Wix Madefor Display', sans-serif;
    letter-spacing: 5px;
    font-size: 1.4rem;
    text-align: center;
}
#todolist
{
    width: 100%;   
    margin: 0 auto;
}
.entryDiv
{
    width: 100%;
    justify-content: center;
}
.data
{
    display: inline-flex;
    justify-content: center;
    width: 79%;
    margin-left: 1%;
    background-color: rgb(14, 42, 95);
    border: none;
    border-bottom: 1px solid gainsboro;
}
.inp
{
    width: 85%;
    height: 45px;
    background-color: rgb(14, 42, 95);
    color: wheat;
    font-size: 1.5rem;
    padding-left: 1%;
    border: none;
}
.btn
{
    background-color: rgb(14, 42, 95);
    margin-right: 15px;   
    border: none;
    font-size: 1rem;
    font-weight: bolder;
}
.edit
{
    font-weight: bolder;
    color: lawngreen;
}
.delete
{
    color: rgb(252, 59, 0); 
}
.cut
{
    text-decoration: line-through;
}
@media (max-width:1177px) and (min-width:834px)
{
    *
    {
        font-size: 90%;
    }
    #head
    {
        width: 70vw;
    }
    
}
@media (max-width:834px)
{
     *
    {
        font-size:75%;
    }
    .ver_img
    {
        display: block;
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    #head
    {
        width:95vw
    }
}